.sidebar{
    width:25vw;
    border-right:solid;
    transition: 500ms;
    padding:15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100vh;
}
.sidebutton{
    background-color: transparent;
    border-style: none;
}
input{
    border-style:solid;
    height:25px;
    border-radius: 15px;
    padding-left:7px
}
.companyName{
    width:85%
}
.navProfileContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-style:solid
}
.navproImg{
    width:55px;
    height:55px;
    border-radius:155px;
    margin-right:7px;
}
.icon{
    width:38px;
}
.mt{
    margin-top:15px
}
hr{
    margin-top:15px;
    margin-bottom:25px;
}

Link{
    color:black;
    border-style: solid;
}