.QuickLookContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height:15%;
}

@media screen and (max-height:412px){
    .QuickLookContainer{
        flex-direction: column;
    }
}